/Debug/
.*
.*DS_Store
/ADC_OneShot.hwp
/ADC_OneShot.nav
/ADC_OneShot.tps
/ADC_OneShot.x (1).launch
/ADC_OneShot.x (2).launch
/DefaultSession.hsf
/description.txt
/Ducted_Fan.x.launch
/JLink.hsf
/jlink.ini
/makefile.init
/old_version_2.0_001DefaultSession.hsf
/old_version_2.0_001JLink.hsf

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
